{% extends 'base.html' %}

{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center;">
        <h1 style="font-family: 'Lobster', cursive;">
            romeo
        </h1>

        <form action="/account/romeo/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="romeo_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>

        </form>

        {% if romeo_output %}
        <h1>
            {{ romeo_output.text }}
        </h1>
        {% endif %}

    </div>

{% endblock %}